<div id="css" style="visibility: hidden;">
    <%for(var j=0;j<css.length;j++){%>
        <ul style="list-style: none;">
            <li><a href="/showfile/Experiments-CSS/<%=css[j]%>"><%=css[j]%></a></li>
            <%};%>
        </ul>
</div>