<style>
    #css{
        float:left;
        margin:2rem;
        width:15rem;
        height:30rem;
        border: 3px dotted yellowgreen;
    }
    #hash{
        padding:2px;
        margin:5px;

    }
</style>

<div id="css"><center>
    <h3>
    <label>Cryptography</label>
    </h3>
    <%for(var j=0;j<css.length;j++){%>
        <ul style="list-style: none;float: left;">
            <li id="hash"><a href="/showfile/Experiments-CSS/<%=css[j]%>"><%=css[j]%></a></li>
            <%};%>
        </ul></center>
</div>