<div id="dwm" style="visibility: hidden;">
    <%for(var j=0;j<dwm.length;j++){%>
        <ul style="list-style: none;">
            <li><a href="/showfile/Experiments-DWM/<%=dwm[j]%>"><%=dwm[j]%></a></li>
            <%};%>
        </ul>
</div>