<div id="se" style="visibility: hidden;">
    <%for(var j=0;j<se.length;j++){%>
        <ul style="list-style: none;">
            <li><a href="/showfile/Experiments-SE/<%=se[j]%>"><%=se[j]%></a></li>
            <%};%>
        </ul>
</div>