<div id="spcc" style="visibility: hidden;">
    <%for(var j=0;j<spcc.length;j++){%>
    <ul style="list-style: none;">
        <li><a href="/showfile/Experiments-SPCC/<%=spcc[j]%>"><%=spcc[j]%></a></li>
        <%};%>
    </ul>
</div>